



<div class="searhk">

    <form>


        <input type="search"  placeholder="Профессия, должность или компания">
        <a href="Search" class="nai"></a> <br>

        <input type="checkbox" name="vacancy" ><label>Вакансия</label>
        <input type="checkbox" name="comp" ><label>Компания</label>
    </form>
    <div class="citat"></div>
    <div class="citat2"></div>

</div>


